{% extends 'base_bo.html.twig' %}

{% block title %} Modifier une compétence | Mes compétences {% endblock %}

{% block body %}

    <h1>Modifier une compétence</h1>
    
    {% include 'skill_admin/form.html.twig' %}

{% endblock %}