{% extends 'base_fo.html.twig' %}

{% block title %}Accueil - Portfolio{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Home</h1>
            <div class="row">
                <ul>
                    <li><a href="http://wiki.trodix.fr/doku.php">Lien du wiki madera</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
