{% extends 'base_fo.html.twig' %}

{% block title %}Accueil - Portfolio{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Home</h1>
            <p>Bienvenue !</p>
        </div>
    </div>

{% endblock %}
