{% extends 'base_fo.html.twig' %}

{% block title %}Liste des articles - Blog{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Liste des articles</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Date de création</th>
                        <th>Titre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>
                            {{ article.createdAt|date('d-m-Y') }}
                        </td>
                        <td>
                            <a href="{{ path('blog_article_show', {'headline_slug': article.headlineSlug}) }}">{{ article.headline }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
