{% extends 'base_bo.html.twig' %}

{% block title %} Ajouter un article de veille | Ma Veille {% endblock %}

{% block body %}

    <h1>Ajouter un article de veille</h1>
    
    {% include 'watch_article_admin/form.html.twig' %}

{% endblock %}