{% extends 'base_bo.html.twig' %}

{% block title %} Modifier un article de veille | Ma veille {% endblock %}

{% block body %}

    <h1>Modifier un article de veille</h1>
    
    {% include 'watch_article_admin/form.html.twig' %}

{% endblock %}