{% extends 'base_bo.html.twig' %}

{% block title %} Paramétres utilisateur {% endblock %}

{% block body %}

    <h1>Gestion du compte utilisateur</h1>
    
    {% include 'user_admin/form.html.twig' %}

{% endblock %}