{% extends 'base_bo.html.twig' %}

{% block title %}Accueil | Administration{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Administration</h1>
            <p>Bienvenue {{ app.user.username }} !</p>
        </div>
    </div>
</div>

{% endblock %}
