.form-control, .custom-file-label, .custom-file-label::after, .btn{
    border-radius: 50px;
}

h1 {
    color: #e67e22;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

.fa-trash-alt, .fa-times-circle {
    color: #c0392b;
}

.fa-check-circle {
    color: #27ae60;
}

.icon-big {
    font-size: 2em;
}

a:hover .fas {
    color: #bdc3c7bb;
}

a {
    text-decoration: underline;
    color: #007bff;
}

a.btn {
    text-decoration: none;
}

a:hover {
    color: #0555ac;
}

.container  {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 25px;
    height: 100%;
    margin-bottom: 50px;
}

form > .row {
    margin-top: 30px;
}

label {
    font-weight: bold;
}

.white {
    color: white;
}