footer {
  background-color: #525252;
  color: white;
}
body > .container{
  min-height: 500px;
}
footer a {
  color: #fff;
}
h1 {
  color: #f39c12;
}
footer a:hover {
  color: #f39c12;
}
.form-control,
.custom-file-label,
.btn {
  border-radius: 0;
}
/* Socials */
.social-icons {
  font-size: 2em;
  background-color: #fff;
}
a:hover > i.fab {
  color: #ccc;
}
.fa-facebook {
  color: #396AAE;
}
.fa-twitter {
  color: #00ACED;
}
.fa-linkedin {
  color: #007BB6;
}
.fa-github {
  color: #282D31;
}
.fa-youtube {
  color: #BB0000;
}
/* end Socials */
/* dropdown */
.dropdown-menu {
  border-radius: 0;
}
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}
.navbar-brand:hover {
  transform: rotate(-350deg);
}
.navbar-toggler i {
  color: white;
  font-size: 1.8em;
}

.navbar-toggler {
  outline: none !important;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
  transform: rotate(-350deg);
}

nav.navbar {
  background-color: #F45E24;
  color: #fff;
}
.nav-link {
  color: #fff;
  border-radius: 0;
}
.active a,
.nav-link:hover {
  background-color: #fff;
  font-weight: bold;
  color: #000 !important;
  border-radius: 0;
}
.dropdown-item:hover {
  color: #F45E24;
}
