{% extends 'base_bo.html.twig' %}

{% block title %} Modifier un article | Blog {% endblock %}

{% block body %}

    <h1>Modifier un article</h1>
    
    {% include 'blog_article_admin/form.html.twig' %}

{% endblock %}