{% extends 'base_bo.html.twig' %}

{% block title %} Paramétrage général {% endblock %}

{% block body %}

    <h1>Paramétrage général</h1>
    
    {% include 'society_admin/form.html.twig' %}

{% endblock %}