{% extends 'base_fo.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Me contacter</h1>
            <p style="font-size: 1.3em;">C'est pour bientôt !</p>
        </div>
    </div>

{% endblock %}
