{% extends 'base_fo.html.twig' %}

{% block title %}Liste des compétences - Mes compétences{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Liste des compétences</h1>
            <ul>
                {% for skill in skills %}
                    <li>{{ skill.title }}</li>
                    <img src="{{ skill.image }}" alt="">
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
